@use '../../styles/mixins' as *;

.page_container {
   @include width-height();
    @include flex-row-center-center();
    align-items: flex-start;

    a {
        margin: 2rem auto;
        text-decoration: none;
        color: white;
        @include flex-row-center-center();
        gap: 0.1rem;
        img {
            width: 1rem;
            height: 1rem;
        }
    }
}